$dark: #222;

h1, h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14pt;
  a {
    color: $dark;
  }
}
a:hover {
  text-decoration: none;
}
.product {
  img {
    width: 100%;
    padding: 10px;
  }
  .description {
  }
}
.productItem {
  .panel-heading {
    a {
      color: $dark;
    }
  }
  img {
    width: 100%;
  }
  .price {
    font-weight: bold;
  }
}